.fieldset {
    background-color: bisque;
    border-color: transparent;
    padding: 2%;
    margin: 2%;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

.submit :hover {
    background-color: rgb(148, 242, 148);
}

.namn :hover {
    background-color: rgb(148, 242, 148);
}

.mejl :hover {
    background-color: rgb(148, 242, 148);
}

.ärende :hover {
    background-color: rgb(148, 242, 148);
}

.ämne :hover {
    background-color: rgb(148, 242, 148);
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 0%;
    font-weight: bold;
}

body {
    background-color: rgb(45, 51, 67);
    color: aliceblue;
}

/*background-color: rgb(255, 225, 191);*/
